__pycache__
.coverage
emb/ee_service/EntityRecognition
emb/ee_service/TextEmbedding
.idea/
*venv/
*.DS_Store
tests/.pytest_cache/
tests/htmlcov/
temp/
.envrc
.python-version
.env
/local/
.venv
.vscode
.pytest_cache
.DS_Store
.history
.flake8